@import '../Vars.scss';

.button-primary {
  box-sizing: border-box;
  background-color: $color-background-button;
  color: white;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0px 15px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.container_recipe{
  background-color: #f8e7e9;

  width: 100%;
  align-self: center;

  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh);
  box-sizing: border-box;

  .container_recipe__header{

    position: relative;

    .container_recipe__back{ 
      float: left; 
      margin-top: 30px;
      margin-left: 20px;
    }

    .main__food{
      background-color:#f8e7e9;
    }

    .step_like{
      margin-top: -23px;
      position: absolute;
      width: 100%;      
      display:flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;

      .corazon button{
        border-radius: 25px;
        width: 40px;
        height: 40px;
        background-color: $color-background-like;
        padding: 0px;
        margin: 0px 50px 0px 10px;
        outline: none;
        border: none;
      }

      .corazon img {
        width: 30px;
        margin: 0px;
        padding-top: 4px;
      }

      .step-by-step button{
        background-color: #50d0e3;
      }
    }
  }

  .food-info{
    padding:  10px 25px;

    align-self: center;

    display:flex;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    background-color: #f5fafc;
    

    .recipe_title{
      margin-bottom: 15px;
    }

    .div-button-buy{
      margin-top:20px;
    }
  }
}


@media screen and (min-width: 765px) {
  .main__food img{
    width:600px;
    height: 600px;
  }

  .container_recipe{
    flex-direction: row;
    background-color: #f5fafc;
  }

  .container_recipe__back{
    display:none;
  }

  .main__food{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .food-info{
    margin: 70px;
    border-radius: none;
  }
}


/*.container_recipe{
  display: grid;
  grid-template-rows: 250px  285px  160px ;
  justify-content: center;
  align-items: center;
  grid-template-areas: 'picture' 'title' 'instructions';
}
.picture{
  grid-area: picture;
  display: flex;
  justify-content: center;
}
.title{
  grid-area: title;
}

.instructions{
  margin-top: -27px;
  height: 120px;
}

.step_like{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:-55px;
}

.step_by_step,
.corazon{
  display:grid;
  justify-content: center;
}

.recipe{
  margin-top:75px;
  margin-left: 15px;
}

.recipe_title h1{
  margin-bottom:4px;
  display: flex;
  justify-content: center;
}

.main__food img{
  width:100%;
  height:340px;
  background-color:#F99DA7;
}

button {
  box-sizing: border-box;
  background-color: #1f4dec;
  color: white;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0px 15px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.corazon button{
  border-radius: 25px;
  width: 40px;
  height: 40px;
  background-color: red;
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
}

.corazon img {
  width: 30px;
  margin: 0px;
  padding-top: 4px;
}

li{
  list-style:none;
  margin-left: 0.6em;
  display: list-item;
}

.button-buy{
  margin-top:1em;
  margin-bottom:0.5em;
  display:grid;
  justify-content:center;
  width:100%;
  // position: absolute;
  // z-index: 4;
  // left: -25px;
  // top: 536px;
}

.stars{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-evenly;
}

.instructions p,
.instructions  li{
  margin: 7px 25px;
}

@media  screen and (min-width: 440px) {
  .container_recipe{
    display: grid;
    grid-template-rows: 567px 250px 160px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'picture' 'title' 'instructions';
  }
  .main__food img{
    width:630px;
    height: 630px;
    display: flex;
    justify-content: center;
  }

  .instructions{
    width: 750px;
  }
}

@media screen and (min-width: 765px) {
  .main__food img{
    width:600px;
    height: 600px;
  }
}

@media  screen and (min-width: 1024px) {
  .container_recipe{
    display: grid;
    grid-template-rows: 550px ;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'title' 'instructions' 'picture' ;
  }

  label{
    width: 500px;
  }

  .recipe{
    position: relative;
    z-index: 4;
    top: -150px;
    left: 35px;
    width: 468px;
  }

  .main__food img{
    width:624px;
    height: 624px;
  }

  .instructions{
    position: relative;
    z-index: 3;
    top: -240px;
    left: 32px;
    width: 468px;
  }
}*/