@import '../Vars.scss';

.header {
    height: 60px;
    box-sizing: border-box;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    display:none;
}

    .header__logo {
      font-size: 20px;
      font-weight: bold;
    }

    .header__profile {
      width: 40px;
      height: 40px;
      border: 1px solid black;
      border-radius: 15px;
      background-color: $color-letter;
      overflow: hidden;
    }


@media screen and (min-with:765px){
 .header {
    display: flex;
    }
}
