@import '../Vars.scss';

.container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 60%;
  background-color:$color-background-pic;
  height: 100vh;
}

.instruction__pic img {
  width: 50%;
  height: 60%;
}

@media screen and (min-width:600px) {
  .instruction__pic img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instruction__pic  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instruction{
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

