@import '../Vars.scss';

.container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 60%;
  background-color:$color-background-pic;
  height: 100vh;
}

.header_recipe {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.ingredients,
.step__step,
.Arrow__back{
  display: flex;
  align-items: center;
}

.ingredients{
  align-items: flex-end;
}



.instruction__pic img {
  width: 200px;
  height: 200px;
}

@media screen and (min-width:600px) {
  .instruction__pic img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instruction__pic img {
    width: 50%;
    height: 60%;
  }

  .instruction__pic  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instruction{
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

